.navbar {
  background-color: #00093e; }

.color-hdtitle {
  color: #dad5d5; }

.jumbotron {
  background: midnightblue;
  color: white; }

.control {
  margin-top: 50px;
  margin-bottom: 0px; }

.breadcrumb-item {
  breadcrumb-divider: none; }

.derechos {
  color: white;
  text-align: center; }

.autor {
  color: gray;
  text-align: center; }

.img-info {
  width: 100%;
  height: 60%; }

.product {
  width: 100%;
  flex: 1; }

.card-product {
  flex: 1 250px; }

.card-info {
  flex: 1 100px; }

.title {
  color: white; }

.sub-title {
  color: #a3a3a3; }

footer {
  padding: 10px 0px 0px 0px;
  background: black;
  margin-top: 4px;
  margin-bottom: 0px; }

.icon-footer {
  padding-right: 5px; }

/*# sourceMappingURL=styles.css.map */
