//variables sass - correr ssass en consola primero --> npm run scss
$blue-strong:#00093e;
$gray-platium: rgb(163, 163, 163);

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.navbar{
    background-color:$blue-strong;
}
.color-hdtitle {
    color:rgb(218, 213, 213);
}

.jumbotron{
    background:midnightblue;
    color:white;
}
.control{
    @include margenes(50px,0px);
}
.breadcrumb-item{
    breadcrumb-divider: none;
}

.derechos{
    color:white;
    text-align: center;
}

.autor{
    color:gray;
    text-align:center;
}

.img-info{
    width:100%;
    height:60%;
}

.product {
    width:100%;
    flex: 1;
}

.card-product{
    flex: 1 250px;
}

.card-info{
    flex:1 100px;
}

.title{
    color:white;
}

.sub-title{
    color:$gray-platium;
}
footer{
    padding:10px 0px 0px 0px;
    background: black;
    @include margenes (4px,0px);
    
}

.icon-footer{
    padding-right: 5px;
}